<!DOCTYPE html>
<html>

<head>
    <title>ShadowRoot Challenges</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>CTF Challenges</h1>

    <p>Practice real cybersecurity skills.</p>

    <div>

        <h2>Beginner Reverse Engineering</h2>

        <p>Find the hidden flag inside the binary.</p>

        <p>Tools recommended:</p>

        <ul>
            <li>IDA</li>
            <li>GDB</li>
            <li>strings</li>
        </ul>

        <p>Download challenge soon.</p>

    </div>

</body>

</html>